module-name: kyma-metrics-collector
rc-tag: 1.5.0
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/kyma-metrics-collector:1.5.0
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
